@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    line-height: 18px;
    
}

body {
    background-image: url(./img/hd-wallpaper-1150319_1920.jpg);
}

.container {

    width: 375px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 100px;

}

header {
    background-color: #390f5b;
    height: 66px;

}

h1 {

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #f4f4f4;
    justify-content: center;
    padding: 25px;
}

main {
    padding: 24px;
}

label {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    color: #777777;


}


select {

    display: block;
    background: #ffffff;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    width: 100%;
    height: 48px;
    left: 24px;
    top: 113px;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;

}

input {

    background: #ffffff;
    border: 1px solid #BBBBBB;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    left: 24px;
    top: 302px;
    padding: 16px;
    margin-top: 6px;
    margin-bottom: 24px;
    padding-left: 16px;
    font-size: 18px;
    outline: none;
    caret-color: #1B83E2;
}

button {

    background: #390f5b;
    border-radius: 25px;
    top: 374px;
    left: 24px;
    width: 100%;
    height: 48px;
    display: block;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    margin-top: 24px;
    margin-bottom: 36px;
    border: none;
}


button:hover{

    color: #ffffff;
    background-color: #17038d;
    opacity: 0.9;
}

button:active{

    opacity: 0.7;

}

section {

    border: 2px ridge #390f5b;
    border-radius: 4px;
    padding: 16px;
}

.sec {
    text-align: center;
    padding: 10px;
}

.text {
    color: #777777;
    font-size: 14px;
    padding: 5px;
}

.text-value{

    color: #1B83E2;
    font-size: 20px;
    font-weight: bold;
    
}

.dolar-value{

    color: #1B83E2;
    font-size: 20px;
    font-weight: bold;

}

.vector{

    margin: auto;
    display: block;
}


@media screen and (max-width: 500px)   {
    
    .container {
        width: 80%;
        margin: 40px;
    
    }

    section{

        width: 100%;
        padding: 5px;
    }
}